$primary-color: #2b3a42;
$secondary-color: #547b8f;
$dark-bg: hsl(0, 0%, 8%);
$fx-color: #ff8f00;
$padding: 0.7rem;
$subtle-text: #43687c;
$netflix-red: hsl(357, 92%, 47%);
$smooth-white: #fdfffc;
$smooth-black: #232b2b;
$smooth-black-darker: #0e1111;
$brand-color-1: #439fad;
$brand-color-2: #8a8cf4;
