body {
    background-color: $smooth-black-background;
    overscroll-behavior: none;
}
.container {
    min-height: 50vh;
}
.content {
    overflow: hidden;
}
h1 {
    color: $smooth-white;
    font-weight: bold;
    font-size: clamp(2.5rem, 3.8rem + 3.3333vw, 5.5rem);
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    text-shadow: -2px 2px 16px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}
h2 {
    color: $smooth-white;
    font-size: clamp(1rem, 0.6rem + 3.3333vw, 6rem);
    font-family: "Bebas Neue", sans-serif;
    text-wrap: balance;
    font-size: clamp(3rem, 0.6rem + 3.3333vw, 5rem);
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    // opacity: 0;
    letter-spacing: 0.2rem;
    &.subtitle {
        margin-bottom: 0.5rem;
    }
    &.fancy {
        background-image: linear-gradient(
            90deg,
            $brand-color-1,
            $brand-color-2
        );
        background-clip: text;
        color: transparent;
    }
    &.tiny-title {
        font-size: clamp(1rem, 0.6rem + 3.3333vw, 3rem);
        font-weight: 600;
        & span {
            color: $brand-color-2;
        }
    }
}
h3 {
    font-size: 2rem;
    color: $smooth-white;
    line-height: 0.95;
    font-family: "Raleway", sans-serif;
}
h4 {
    font-size: 2rem;
    color: $smooth-white;
    font-family: "Bebas Neue", sans-serif;
}
p {
    color: $smooth-white;
    font-size: 1.25rem;
    line-height: 2.1655rem;
    font-weight: 300;
    font-family: "Oswald", sans-serif;
}
li {
    font-family: "Montserrat", sans-serif;
    margin-top: 1.5rem;
}
a {
    color: $smooth-white;
    text-decoration: none;
    font-family: inherit;
}
p img.emoji {
    height: 1.4rem !important;
    width: auto !important;
}
.grayed {
    color: $subtle-text;
}
.balanced {
    text-wrap: balance;
}
::selection {
    background-color: #d5a412;
    color: $smooth-black;
}
.center {
    text-align: center;
}
section {
    // width: 100%;
    padding: 0 1rem;
    &.spaced {
        padding-top: 5rem;
    }
}
.wrapper {
    width: 1140px;
    max-width: 90%;
    margin: 0 auto;
}
.text-fancy {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
}
.text-fancy-bg-gradient {
    background-image: linear-gradient(90deg, $brand-color-1, $brand-color-2);
    background-clip: text;
    color: transparent;
    font-family: "Raleway", sans-serif;
}
.text-fancy-underline {
    background-image: linear-gradient(90deg, #f2b90f, #d36805);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.emoji {
    font-size: 3rem;
}
.section__end__cta {
    font-family: inherit;
    text-decoration: underline;
}

// BUTTON
// BUTTON
// BUTTON
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: 0px;
    outline: 1px solid $smooth-white;
    position: relative;
    overflow: hidden;
    padding: 0.4rem 1rem;
    line-height: 1rem;
    margin: 0;
    cursor: pointer;
    &.dark {
        background-color: $smooth-black;
        color: $smooth-white;
    }
    &.light {
        background-color: $smooth-white;
        color: $smooth-black;
    }
}
// // FIN BUTTON
// // FIN BUTTON
// // FIN BUTTON
// SWIPER
// SWIPER
// SWIPER
.swipeContainer {
    padding: 0;
    padding-top: 6rem;
    & .swiper {
        width: 100%;
        height: 375px;
        & .swiper-slide {
            overflow: hidden;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right center;
            }
        }
    }
}
.swiper-button-prev:after,
.swiper-button-next:after {
    color: $smooth-white;
}
// FIN SWIPER
// FIN SWIPER
// FIN SWIPER
// horiz scroll
// horiz scroll
// horiz scroll
.timeline {
    margin-top: calc(20vh + 8rem);
    padding: 0;
    margin-bottom: 6rem;
}
.panel-container {
    overscroll-behavior: none;
    width: 400%;
    height: 65vh;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    & .static-date {
        position: absolute;
        top: -24vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
            color: white;
            font-family: "Bebas Neue", sans-serif;
            font-size: 8rem;
            font-style: normal;
            font-weight: 400;
            padding: 0 0.25rem;
        }
    }
    & .panel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.5em;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        padding: 10px;
        container-type: size;
        container-name: panelWidth;
        &__container {
            display: flex;
            justify-content: space-between;
            gap: 4rem;
            height: 100%;
            width: 100%;
            max-width: 1440px;
            // border: 1px solid red;
            &__text {
                width: 40%;
                font-family: "Oswald", sans-serif;
                font-size: 1rem;
                font-weight: 300;
                text-transform: uppercase;
                // border: 1px solid yellowgreen;
                &.--large {
                    width: 100%;
                }
                & h3,
                p {
                    text-align: left;
                }
                & h3 {
                    font-family: "Bebas Neue", sans-serif;
                    font-weight: 400;
                    font-size: 4rem;
                    margin: 0 0 2rem 0;
                }
                & p {
                    font-size: 1.15rem;
                    letter-spacing: 0.02rem;
                }
            }
            &__img {
                height: 90%;
                width: 100%;
                max-width: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                // border: 1px solid rebeccapurple;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .panel-container {
        height: 80vh;
        & .static-date {
            top: -10vh;
            & span {
                font-size: 5rem;
            }
        }
        & .panel {
            &__container {
                flex-direction: column-reverse;
                justify-content: flex-end;
                &__text {
                    width: 100%;
                }
                &__img {
                    max-height: 60%;
                }
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    h1 {
        font-size: clamp(1.5rem, 2.8rem + 3.3333vw, 3.5rem);
    }
    .panel-container {
        height: 80vh;
        & .static-date {
            top: -10vh;
            & span {
                font-size: 3rem;
            }
        }
        & .panel {
            &.large-txt {
                & h3 {
                    font-size: 2rem;
                }
                & p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
            &__container {
                flex-direction: column-reverse;
                justify-content: flex-end;
                gap: 2rem;
                &__text {
                    width: 100%;
                    &.--large {
                        width: 100%;
                    }
                }
                &__img {
                    width: 100%;
                    max-width: 100%;
                    background-size: cover;
                    max-height: 60%;
                }
            }
        }
    }
}
