.mirano_logo {
    max-width: 200px;
}
.st0 {
    fill: $smooth-white;
}
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    height: 90px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.125rem;
    padding: 2.625rem 0;
    background: linear-gradient(
        to bottom,
        $smooth-black-background 0%,
        rgba(0, 0, 0, 0.738) 19%,
        rgba(0, 0, 0, 0.541) 34%,
        rgba(0, 0, 0, 0.382) 47%,
        rgba(0, 0, 0, 0.278) 56.5%,
        rgba(0, 0, 0, 0.194) 65%,
        rgba(0, 0, 0, 0.126) 73%,
        rgba(0, 0, 0, 0.075) 80.2%,
        rgba(0, 0, 0, 0.042) 86.1%,
        rgba(0, 0, 0, 0.021) 91%,
        rgba(0, 0, 0, 0.008) 95.2%,
        rgba(0, 0, 0, 0.002) 98.2%,
        transparent 100%
    );
    & span {
        width: 110px;
        text-align: center;
        & a {
            color: $smooth-white;
            text-decoration: none;
            text-transform: uppercase;

            &.active {
                border-bottom: 2px solid gray;
            }
        }
    }
}
.burger {
    display: none;
    font-size: 1em;
    cursor: pointer;
    padding: 2em 1em;
    position: absolute;
    top: 0;
    right: 0;
}

.burger > div {
    width: 3em;
    height: 0.3em;
    border-radius: 1em;
    background: #eeedec;
}

.burger > div::before,
.burger > div::after {
    transition: font-size 0s;
    content: "";
    display: block;
    position: absolute;
    width: 3em;
    height: 0.3em;
    background: #eeedec;
    border-radius: 1em;
}

.burger > div::before {
    margin-top: -1.5em;
}

.burger > div::after {
    margin-top: 0.5em;
}

.burger2 > div {
    transition: background 0.4s, font-size 0s;
}

.burger2 > div::before,
.burger2 > div::after {
    transition: font-size 0s;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.burger2.toggled > div::before {
    -webkit-animation: burg2top 0.4s linear forwards;
    animation: burg2top 0.4s linear forwards;
}

.burger2.toggled > div {
    background: transparent;
}

.burger2.toggled > div::after {
    -webkit-animation: burg2bottom 0.4s linear forwards;
    animation: burg2bottom 0.4s linear forwards;
}

.burger2.unToggled > div::before {
    -webkit-animation: burg2topReset 0.4s linear forwards;
    animation: burg2topReset 0.4s linear forwards;
}

.burger2.unToggled > div {
    background: #eeedec;
}

.burger2.unToggled > div::after {
    -webkit-animation: burg2bottomReset 0.4s linear forwards;
    animation: burg2bottomReset 0.4s linear forwards;
}

@-webkit-keyframes burg2top {
    20% {
        margin-top: 0em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        margin-top: 0em;
        -webkit-transform: rotate(55deg);
        transform: rotate(55deg);
    }

    100% {
        margin-top: 0em;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@keyframes burg2top {
    20% {
        margin-top: 0em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        margin-top: 0em;
        -webkit-transform: rotate(55deg);
        transform: rotate(55deg);
    }

    100% {
        margin-top: 0em;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@-webkit-keyframes burg2bottom {
    20% {
        margin-top: 0em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        margin-top: 0em;
        -webkit-transform: rotate(-55deg);
        transform: rotate(-55deg);
    }

    100% {
        margin-top: 0em;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@keyframes burg2bottom {
    20% {
        margin-top: 0em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        margin-top: 0em;
        -webkit-transform: rotate(-55deg);
        transform: rotate(-55deg);
    }

    100% {
        margin-top: 0em;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@-webkit-keyframes burg2topReset {
    0% {
        margin-top: 0em;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    20% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        margin-top: 0.5em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        margin-top: 0.7em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes burg2topReset {
    0% {
        margin-top: 0em;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    20% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        margin-top: 0.5em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        margin-top: 0.7em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes burg2bottomReset {
    0% {
        margin-top: 0em;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    20% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        margin-top: -0.5em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        margin-top: -0.7em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes burg2bottomReset {
    0% {
        margin-top: 0em;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    20% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        margin-top: -0.5em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        margin-top: -0.7em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 576px) {
    .burger {
        display: block;
        top: 20px;
    }

    header {
        max-width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 99;
        padding: 0.5rem 0;
        margin-bottom: 1.5rem;
        z-index: 99;
    }

    header nav {
        -webkit-justify-content: center;
        justify-content: center;
        // position: relative;
        // background: unset;
    }

    header nav a {
        display: none;
    }

    header nav img {
        max-width: 60vw;
    }

    header.active {
        height: 100vh;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    header.active nav {
        -webkit-flex-direction: column;
        flex-direction: column;
        row-gap: 2rem;
    }

    header.active nav a {
        display: block;
    }

    header.active nav img {
        -webkit-order: -1;
        order: -1;
        margin-bottom: 2rem;
    }
}
html.fixed-position,
body.fixed-position {
    overflow: hidden;
    margin: 0;
    touch-action: none;
    -ms-touch-action: none;
    /* position: fixed; we get rid of this line which resets the flow of the page */
    /* height: 100%; we change 100% to 100vh */
    height: 100vh;
}
// .fixed-position {
//     position: fixed;
// }
