.corpo {
    padding: 0 1rem;
    max-width: 1440px;
    margin: 0 auto;
    & h1 {
        text-align: left;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        & .img__holder {
            width: 45%;
            max-width: 40rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        & .txt__holder {
            width: 50%;
            position: relative;
            & img {
                width: 300px;
                max-width: 80%;
                margin: 0 auto;
                position: relative;
                display: block;
                margin-top: 2rem;
            }
            & h4 {
                padding-top: 8rem;
                font-family: "Mulish", sans-serif;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
            & a {
                text-decoration: underline;
            }
        }
    }
}
@media only screen and (max-width: 800px) {
    .corpo {
        &__container {
            flex-direction: column;
            & .img__holder {
                width: 100%;
                max-width: unset;
                height: 150px;
            }
            & .txt__holder {
                width: 100%;
                position: relative;
                & img {
                    width: 126px;
                    position: absolute;
                    top: -3rem;
                    right: 1rem;
                    left: unset;
                }
                & h4 {
                    padding-top: 0rem;
                }
            }
        }
    }
}
