.events__container {
    color: white;
    padding: 0 1rem;
    max-width: 1140px;
    margin: 0 auto;
    & h2 {
        font-size: clamp(1rem, 1.8rem + 3.3333vw, 3.5rem);
        margin-bottom: 2.5rem;
    }
    & .event {
        display: flex;
        align-items: center;
        margin-bottom: 2.5rem;
        border-bottom: 1px solid $smooth-black;
        padding-bottom: 2.5rem;
        &__img {
            width: 380px;
            min-width: 180px;
            aspect-ratio: 16/9;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &__holder {
            display: flex;
            align-items: center;
            width: 100%;
        }
        &__infos {
            width: 100%;
            padding-left: 2rem;
            & h3 {
                font-size: 1.2rem;
            }
            & p {
                font-family: "Mulish", sans-serif;
                font-size: 1.25rem;
                font-weight: 700;
                line-height: normal;
                position: relative;
                padding-left: 1.5rem;
                & img {
                    height: 1.2rem;
                    position: absolute;
                    left: 0;
                    top: 3px;
                }
                & + p {
                    font-weight: 400;
                }
            }
        }
        &__tickets {
            min-width: fit-content;
            & > a {
                margin-right: 2rem;
                letter-spacing: 0.02rem;
                font-family: "Oswald", sans-serif;
                border-bottom: 2px solid #1877f2;
            }
            & p {
                display: inline-block;
            }
            & button {
                color: $smoother-white;
            }
        }
    }
}
@media only screen and (max-width: 800px) {
    .events__container {
        & .event {
            margin-bottom: 3rem;
            &__holder {
                flex-direction: column;
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    .events__container {
        & .event {
            flex-direction: column;
            &__infos {
                padding: 0 1rem;
                & p {
                    margin: 0;
                    font-size: 1rem;
                    & + p {
                        margin-bottom: 1rem;
                    }
                }
            }
            &__img {
                width: 100%;
                max-width: 90%;
                min-width: unset;
            }
        }
    }
}
@media only screen and (max-width: 360px) {
    .events__container {
        & .event {
            &__infos {
                & h3 {
                    font-size: 1rem;
                }
            }
        }
    }
}
